cast-media-player {
  --logo-image: url('res/logo.png');
  --splash-image: url('res/splash.jpg');
  --splash-size: cover;
}


/* ------------------------------------------------- */
/* Sample Overlay Text                               */
/* ------------------------------------------------- */
cast-media-player:after {
  content: "v13";
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: -150px;
  opacity: 0.5;
  color: red;
}
