body {
  margin: 0;
  background-color: black;
}

.fullscreen {
  position: absolute;
  height: 100%;
  width: 100%;
}

.logo {
  object-fit: none;
}

.img {
  background-color: black;
  object-fit: contain;
}
